*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*.un~
*~
.cache
.coverage
.directory
.installed.cfg
.netrwhist
.Python
.tox/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
Session.vim
target/
var/
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
__pycache__/
